<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - DocPress</title>
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/quill.snow.css">
</head>
<body>
  <% if (success && success.length > 0) { %>
    <div class="flash-messages">
      <% success.forEach(msg => { %>
        <div class="alert alert-success"><%= msg %></div>
      <% }); %>
    </div>
  <% } %>

  <% if (error && error.length > 0) { %>
    <div class="flash-messages">
      <% error.forEach(msg => { %>
        <div class="alert alert-error"><%= msg %></div>
      <% }); %>
    </div>
  <% } %>
